<nz-layout class="container">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logoBar">
      <img [src]="env.environment.logoUrl" height="30px" />
      <span *ngIf="!isCollapsed" class="title">{{
        env.environment.title
      }}</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter [routerLink]="['/shell', 'dashboard']">
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        <span>数据报表</span>
      </li>
      <li nz-submenu nzTitle="用户管理" nzIcon="appstore" nzOpen>
        <ul>
          <li
            nz-menu-item
            nzMatchRouter
            [routerLink]="['/shell', 'user', 'user']"
          >
            <span nz-icon nzType="user" nzTheme="outline"></span>
            <span>用户管理</span>
          </li>
          <li
            nz-menu-item
            nzMatchRouter
            [routerLink]="['/shell', 'user', 'landlord']"
          >
            <span nz-icon nzType="home" nzTheme="outline"></span>
            <span>房东管理</span>
          </li>
          <li
            nz-menu-item
            nzMatchRouter
            [routerLink]="['/shell', 'user', 'inviter']"
          >
            <span nz-icon nzType="link" nzTheme="outline"></span>
            <span>介绍人管理</span>
          </li>
          <li
            nz-menu-item
            nzMatchRouter
            [routerLink]="['/shell', 'user', 'worker']"
          >
            <span nz-icon nzType="tool" nzTheme="outline"></span>
            <span>装维管理</span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="套餐管理" nzIcon="shopping" nzOpen>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/shell', 'combo']">
            <span nz-icon nzType="shopping" nzTheme="outline"></span>
            <span>套餐管理</span>
          </li>
          <li
            nz-menu-item
            nzMatchRouter
            [routerLink]="['/shell', 'combo-group']"
          >
            <span nz-icon nzType="group" nzTheme="outline"></span>
            <span>套餐组管理</span>
          </li>
          <!-- <li
            nz-menu-item
            nzMatchRouter
            [routerLink]="['/shell', 'combo-group-bind']"
          >
            <span nz-icon nzType="node-index" nzTheme="outline"></span>
            <span>套餐组绑定</span>
          </li> -->
        </ul>
      </li>
      <!-- <li nz-menu-item nzMatchRouter [routerLink]="['/shell', 'combo']">
        <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
        <span>套餐管理</span>
      </li> -->
      <li nz-menu-item nzMatchRouter [routerLink]="['/shell', 'advertisement']">
        <span nz-icon nzType="eye" nzTheme="outline"></span>
        <span>广告管理</span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span>退出登录</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right">
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    </nz-header>
    <nz-content class="inner-content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>
      <a style="color: #000" href="{{ env.environment.footerUrl }}">{{
        env.environment.footer
      }}</a>
    </nz-footer>
  </nz-layout>
</nz-layout>
