<nz-layout class="container">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logoBar">
      <img [src]="env.environment.logoUrl" height="30px" />
      <span *ngIf="!isCollapsed" class="title">{{
        env.environment.title
      }}</span>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
      *ngIf="role"
    >
      <li
        nz-menu-item
        nzMatchRouter
        *ngFor="let menu of menus[role]"
        [routerLink]="menu.url"
      >
        <span nz-icon [nzType]="menu.icon"> </span>
        <span>{{ menu.name }}</span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span>退出登录</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right">
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    </nz-header>
    <nz-content class="inner-content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>
      <a style="color: #000" href="{{ env.environment.footerUrl }}">{{
        env.environment.footer
      }}</a>
    </nz-footer>
  </nz-layout>
</nz-layout>
